<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>Exam Repository</h1>
        <p>Teacher Dashboard</p>

        <div class="actions">
            <a href="/upload" class="btn teacher">Upload Papers</a>
            <a href="/papers" class="btn student">View Papers</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p style="color: green;">
            {{ messages[0] }}
        </p>
        {% endif %}
        {% endwith %}

        <div class="back-link">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</div>

</body>
</html>